p#notice
  = notice
h1 予約状況

= link_to "前週", {}, {class: "btn btn-primary btn-xs", href: "/reservations/index/#{@baseDate.prev_week}"}
= link_to "翌週", {}, {class: "btn btn-primary btn-xs", href: "/reservations/index/#{@baseDate.next_week}"}
- h1,l1,w1 = 0,0,4
- h2,l2,w2 = 1,2,3

.mybox
  table
    thead
      tr
        - @headers.each do |header|
          th = header
      - 2.times do
        tr
          - @dates.each do |date|
            td[data-date="#{date}"]

  .bar[style="top:#{h1*50+35}px;left:#{l1*80+5}px;width:#{w1*80-10}px;"] すごい案件
  .bar[style="top:#{h2*50+35}px;left:#{l2*80+5}px;width:#{w2*80-10}px;"] やばい案件

coffee:
  $ ->
    $("#bar1").click -> window.location = "/reservations/1"
    $("#bar2").click -> window.location = "/reservations/2/edit"
    $("td").click ->
      url = "/reservations/new/" + $(this).attr("data-date")
      console.log url
      window.location = url

scss:
  $base: #abd;

  .mybox {
    position: relative;
  }

  table {
    width: 560px;
  }

  th {
    background-color: darken($base,10%);
    border: solid 1px dimGray;
    width: 80px;
    height: 30px;
    text-align: center;
  }

  td {
    border: solid 1px dimGray;
    width: 80px;
    height: 50px;
  }

  td:hover{
    background-color: orange;
  }

  .bar {
    border: solid 1px dimGray;
    position: absolute;
    height: 40px;
    background-color: lighten($base,10%);

  }
  .bar:hover{
    background-color: orange;
  }
