h3 サーバライセンス予約状況

.btn-group.btn-group-xs[role="group"]
  a.btn.btn-default[href="/reservations/index/#{@baseDate.prev_week}"]
    span.glyphicon.glyphicon-backward 前週
  a.btn.btn-default[href="/reservations/index/#{@baseDate.prev_day}"]
    span.glyphicon.glyphicon-chevron-left 前日
  a.btn.btn-default[href="/reservations/index/#{Date.today}"]
    span.glyphicon.glyphicon-chevron-up 今日
  a.btn.btn-default[href="/reservations/index/#{@baseDate.next_day}"]
    span.glyphicon.glyphicon-chevron-right 翌日
  a.btn.btn-default[href="/reservations/index/#{@baseDate.next_week}"]
    span.glyphicon.glyphicon-forward 翌週

.mybox
  table
    thead
      tr
        - @headers.each do |header|
          th = header
      - 2.times do
        tr
          - @dates.each do |date|
            td[data-date="#{date}"]
            
  - @reservations.each do |res|
    .bar[style="top:#{res.top*50+35}px;left:#{res.left*80+5}px;width:#{res.width*80-10}px" data-id="#{res.id}"] = res.projectName

coffee:
  $ ->
    $(".bar").click ->
      url = "/reservations/" + $(this).attr("data-id") + "/edit"
      window.location.href = url
    $("td").click ->
      url = "/reservations/new/" + $(this).attr("data-date")
      window.location.href = url

scss:
  $base: #abd;

  .btn {
    border: solid 1px darken($base,10%);
    background-color: lighten($base,12%);
    color: darken($base,30%);
  }

  .mybox {
    margin-top: 8px;
    position: relative;

    table {
      width: 560px;
    }

    th {
      background-color: lighten($base,5%);
      border: solid 1px darken($base,5%);
      width: 80px;
      height: 30px;
      text-align: center;
    }

    td {
      border: solid 1px darken($base,5%);
      width: 80px;
      height: 50px;
    }

    td:hover{
      background-color: orange;
    }

    .bar {
      border: solid 1px darken($base,20%);
      position: absolute;
      height: 40px;
      background-color: lighten($base,10%);

    }
    .bar:hover{
      background-color: orange;
    }
  }
