
$gray-light: #aaa
$gray-lighter: #ddd

$breadcrumb-bg: $gray-lighter
$breadcrumb-color: $gray-light
$btn-default-border: $gray-light
$dropdown-border: $gray-light
$dropdown-divider-bg: $gray-light
$dropdown-fallback-border: $gray-light
$input-border: $gray-light
$list-group-border: $gray-light
$nav-tabs-active-link-hover-border-color: $gray-light
$nav-tabs-border-color: $gray-light
$nav-tabs-justified-link-border-color: $gray-light

$navbar-height: 32px
$navbar-inverse-bg: darken(#428bca, 20%)

$padding-base-vertical: 2px
$pagination-border: $gray-light
$pagination-disabled-border: $gray-light
$pagination-hover-border: $gray-light
$panel-body-padding: $padding-base-vertical
$panel-default-border: $gray-light
$panel-heading-padding: $padding-base-vertical
$panel-inner-border: $gray-light
$table-border-color: $gray-light
$table-cell-padding: $padding-base-vertical
$well-bg: $gray-lighter

@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"

.navbar-brand
  font-family: Meiryo
  font-weight: 900
