/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$font-family-base: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "メイリオ", Meiryo, sans-serif

$narrow: 2px
$moderate: 6px
$wide: 10px
$very_wide: 20px

@import "bootstrap-sprockets"
@import "bootstrap"

body

  nav.navbar
    @extend .navbar-default
    @extend .container-fluid

    .navbar-header
      a
        @extend .navbar-brand
        font-weight: 900

  section
    @extend .container-fluid

    table
      @extend .table
      @extend .table-bordered
      @extend .table-hover

      thead
        background-color: $gray-lighter

    form
      @extend .form-horizontal

      label
        @extend .control-label
        // text-align: right

      input[type="text"],
      input[type="password"],
      textarea,
      select
        @extend .form-control

      input[type="submit"]
        @extend .btn
        @extend .btn-primary

      .field_with_errors
        background-color: red

  footer
    a
      @extend .btn
      @extend .btn-primary


